.advanced-search
    .center-wrapper
        .pure-g-r.search-filters
            .pure-u-1-12
                strong Filters
            .pure-u-11-12
                .pure-g
                    .pure-u-1-3
                        label(for='s-type') Type
                        select#s-type(name='type')
                            option(value='')
                            each type in search.type
                                option(value=type, selected=filter.type == type)
                                    = type
                    .pure-u-1-3
                        label(for='s-running') Running
                        select#s-type(name='running')
                            option(value='')
                            each running in search.running
                                option(value=running, selected=filter.running == running.key)
                                    = running
                    .pure-u-1-3
                        label(for='s-as') AS Number
                        input#s-as(type=text, name='as', placeholder='AS', value=filter.as)
                    .pure-u-1-3
                        label(for='s-country') Country
                        select#s-country(name='country')
                            option(value='')
                            each country in countriesArray
                                option(value=country.key, selected=filter.country == country.key)
                                    = country.value
                    .pure-u-1-3
                        label(for='s-flag') Flag
                        select#s-flag(name='flag')
                            option(value='')
                            each flag in flagsArray
                                option(value=flag.key, selected=filter.flag == flag.key)
                                    = flag.key
                    .pure-u-1-3
                        label(for='s-family') Family
                        input#s-family(type=text, name='family', placeholder='A59E1E7C7EAEE083D756EE1FF6EC31CA3D8651D7', value=filter.family)
        hr
        .pure-g-r.search-filters
            .pure-u-1-12
                strong Group
            .pure-u-11-12
                input#groupCountry(name='groupCountry', type='checkbox', checked=group.country ? 'checked' : undefined)
                label(for='groupCountry') Group results by country
                input#groupFamily(name='groupFamily', type='checkbox', checked=group.family ? 'checked' : undefined)
                label(for='groupFamily') Group results by family
                input#groupContact(name='groupContact', type='checkbox', checked=group.contact ? 'checked' : undefined)
                label(for='groupContact') Group results by contact
        hr
        .pure-g-r.search-filters
            .pure-u-1-12
                strong Actions
            .pure-u-11-12
                input.pure-button(type='submit')