extends layout
include mixins/relaySummaryTable
include mixins/bridgeSummaryTable

block content
    .pure-g
        .pure-u-1
            .text-content
                if model
                    h3
                        if query
                            | Search results for "#{query}"
                        else
                            | Showing all results:
                        .tabbed-item
                            a.indicator(href='#relay-results', class=model.relays.length > 0 ? 'has-values' : '')
                                | #{model.relays.length}
                                span  Relays
                        .tabbed-item
                            a.indicator(href='#bridge-results', class=model.bridges.length > 0 ? 'has-values' : '')
                                | #{model.bridges.length}
                                span  Bridges

                    a(name='relay-results')
                    h3 Relays
                    +relaySummaryTable(model.relays)

                    h3 Bridges
                    a(name='bridge-results')
                    +bridgeSummaryTable(model.bridges)