mixin bridgeCompassTable(bridges, notDisplayed)
    table.relay-summary-list.datatable
        thead
            tr
                th
                th.align-left
                    a(href='search-compass?#{format.searchQuery(requestQuery, "nickname")}', title='sort by nickname')
                        | Nickname
                        if requestQuery.sortBy === 'nickname'
                            != format.sortIndicator('alpha', normRequestQuery.sortAsc)
                th.align-left Uptime
                th Advertised bandwidth
                th.align-left
                    a(href='search-compass?#{format.searchQuery(requestQuery, "tor")}', title='sort by Tor version')
                        | Tor version
                        if requestQuery.sortBy === 'tor'
                            != format.sortIndicator('numeric', normRequestQuery.sortAsc)
                th.align-left
                    a(href='search-compass?#{format.searchQuery(requestQuery, "osString")}', title='sort by operating system')
                        | OS
                        if requestQuery.sortBy === 'osString'
                            != format.sortIndicator('alpha', normRequestQuery.sortAsc)
                th.align-left Flags
                th
                    i.fa.fa-sign-out(title='Exit')
                th
                    i.fa.fa-shield(title='Guard')
        if bridges.length
            tbody
                each bridge in bridges
                    - var bridgeUrl = '/bridge/' + bridge.hashed_hashed_fingerprint;
                    tr
                        td
                            a(href=bridgeUrl)
                                if bridge.running
                                    .d3-col.block-2(title='This relay is listed in the current Tor directory.')
                                else
                                    .d3-col.block-3(title="This relay isn't listed in the current Tor directory.")
                        td
                            a.nick(href=bridgeUrl) #{bridge.nickname}
                        td
                            if bridge.running
                                a(href=bridgeUrl) !{format.uptimeShort(bridge.last_restarted)}
                            else
                                a(href=bridgeUrl, title='Offline') n/a
                        td.align-center
                            a(href=bridgeUrl) #{format.bandwidth(bridge.advertised_bandwidth)}
                        td
                            a(href=bridgeUrl, title='using #{bridge.client}') #{bridge.tor}
                        td
                            if bridge.osString
                                a(href=bridgeUrl, title=bridge.meta ? bridge.meta : undefined) #{bridge.osString}
                        td
                            a(href=bridgeUrl) !{format.onionFlags(bridge.flags, 4)}
                        td.align-center
                            a(href=bridgeUrl)
                                i(class="fa fa-#{~bridge.flags.indexOf('Exit') ? 'check' : 'minus'}")
                        td.align-center
                            a(href=bridgeUrl)
                                i(class="fa fa-#{~bridge.flags.indexOf('Guard') ? 'check' : 'minus'}")
            tfoot
                tr
                    td
                    td
                        p #{notDisplayed.number} other bridges
                    td
                    td.align-center
                        p #{format.percent(notDisplayed.exit_probability, 4)}
        else
            tbody
                tr
                    td(colspan='9', class='empty no-a') No bridges found :(
