mixin relaySummaryTable(relays)
    table.relay-summary-list.datatable
        thead
            tr
                th
                th.align-left Nickname
                th.align-left Uptime
                th.align-left Advertised Bandwidth
                th Country
                th.align-left Tor version
                th OS
                th.align-left Flags
        tbody
            if relays.length
                each relay in relays
                    - var relayUrl = '/relay/' + relay.fingerprint;
                    tr
                        td
                            a.align-center(href=relayUrl)
                                if relay.running
                                    .d3-col.block-2
                                else
                                    .d3-col.block-3
                        td
                            a.nick(href=relayUrl)
                                = relay.nickname
                        td
                            if relay.running
                                a(href=relayUrl) !{format.uptimeShort(relay.last_restarted)}
                            else
                                a(href=relayUrl, title='Offline') n/a
                        td
                            a(href=relayUrl)
                                if relay.running
                                    | #{format.percent(relay.advertised_bandwidth_fraction, 4)}
                                | (#{format.bandwidth(relay.advertised_bandwidth)})
                        td.align-center
                            a(href=relayUrl) !{format.flaggify(relay.country)}
                        td
                            a(href=relayUrl) #{relay.tor}
                        td.align-center
                            if relay.osString
                                a(href=relayUrl, title=relay.meta ? relay.meta : undefined) #{relay.osString}
                        td
                            a(href=relayUrl) !{format.onionFlags(relay.flags)}
            else
                tr
                    td(colspan='7', class='empty no-a') No relays found :(
