mixin relayCompassGroupTable(relays, notDisplayed, uiFlags)
    table.relay-summary-list.datatable
        thead
            tr
                th Country
                th.align-left Fingerprints
                th.align-left Autonomous System
                th Consensus Weights
                th Advertised Bandwidth
                th Guard Prob.
                th Middle Prob.
                th Exit Prob.
        if relays.length
            tbody
                each relay in relays
                    tr
                        td.align-center
                            a(href='/relay/'+relay.fingerprint)
                                if uiFlags.hasCountryFlags
                                    != format.flaggify(Object.keys(relay.country)[0])
                                else
                                    = Object.keys(relay.country).length
                        td
                            a(href='/relay/'+relay.fingerprint) #{relay.fingerprints.length}
                        td
                            a(href='/relay/'+relay.fingerprint)
                                if uiFlags.hasOneASNumber
                                    | #{Object.keys(relay.as_number)[0]} #{Object.keys(relay.as_name)[0]}
                                else
                                    | #{Object.keys(relay.as_number).length}
                        td.align-center
                            a(href='/relay/'+relay.fingerprint) #{format.percent(relay.consensus_weight_fraction, 4)}
                        td.align-center
                            a(href='/relay/'+relay.fingerprint) #{format.percent(relay.advertised_bandwidth_fraction, 4)}
                        td.align-center
                            a(href='/relay/'+relay.fingerprint) #{format.percent(relay.guard_probability, 4)}
                        td.align-center
                            a(href='/relay/'+relay.fingerprint) #{format.percent(relay.middle_probability, 4)}
                        td.align-center
                            a(href='/relay/'+relay.fingerprint) #{format.percent(relay.exit_probability, 4)}
            tfoot
                tr
                    td
                    td
                    td
                        p #{notDisplayed.number} other relay groups
                    td.align-center
                        p #{format.percent(notDisplayed.consensus_weight_fraction, 4)}
                    td.align-center
                        p #{format.percent(notDisplayed.advertised_bandwidth_fraction, 4)}
                    td.align-center
                        p #{format.percent(notDisplayed.guard_probability, 4)}
                    td.align-center
                        p #{format.percent(notDisplayed.middle_probability, 4)}
                    td.align-center
                        p #{format.percent(notDisplayed.exit_probability, 4)}
        else
            tbody
                tr
                    td(colspan='7', class='empty no-a') No relays found :(